<p><%= h(@memo[:name]) %></p>
<p><%= h(@memo[:body]) %></p>
<form action="/memos/<%= @memo[:id] %>/edit" method="get">
  <button>変更</button>
</form>
<form action="/memos/<%= @memo[:id] %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>削除</button>
</form>
