<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/style.css">
  <title>memo</title>
</head>
<body>
  <form id="save" action="/memo" method="post">
    <input type="text" name="name" class="name-edit">
    <textarea name="body" class="body-edit"></textarea name>
    <button>保存</button>
  </form>
</body>
