body {
  line-height: 1;
}

h1 {
  font-size: 2em;
}

input {
  display: block;
  height: 2em;
  width: 40em;
  margin-bottom: 20px;
}

textarea {
  display: block;
  width: 40em;
  margin-bottom: 20px;
}

.name-edit, .body-edit {
  background-color: gray;
}

.name-readonly, .body-readonly {
  border: none;
  outline: none;
}
